body{
    margin: 0;
}

.Divprincipal{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-image: url('../assets/DesktopBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.divheader{
    margin-top: 7vh;
    width: 40vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 1.2vw;
    font-family:Verdana;
    text-align: center;
} 

.profilepic5seis{
    width: 9vw;
    margin-bottom: 1vw;
}

.divbuttons{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttonlink{
    width: 25%;
    height: 7vh;
    border-radius: 50px;
    border-color: white;
    border-style: solid;
    background-color: transparent;
    border-width: 1px;
    color: white;
    font-size: 1.3vw;
    transition: 0.4s;
    font-family: Verdana;
}

.buttonlink:hover{
    background: linear-gradient(to right, #8500E7, #FF065D);
    color: white;
    cursor: pointer;
}

.alink{
    display: none;
}

.contacticons{
    width: 20vw;
    height: 0vw;
    display: flex;
    justify-content:space-evenly;
    margin-top: 3vw;
    align-items: center;
}

.linkicon{
    cursor: pointer;
    transform: scale(0.8);
}

/* #icon1{
    width: 1.5vw;
    height: 1.5vw;
}
#icon2{
    width: 1.5vw;
    height: 1.5vw;
}
#icon3{
    width: 1.6vw;
    height: 1.4vw; 
}
#icon4{
    width: 1.9vw;
    height: 1.4vw;
}
#icon5{
    width: 1.9vw;
    height: 1.4vw;
} */

.linkicon:hover{
    transform: scale(115%);
}

.alinksocialmedia{
    display: none;
}
