@media only screen and (max-width: 600px) {
    
    .Divprincipal{
        background-image: url('../assets/MobileBG.jpg');
    }
    
    .profilepic5seis{
        width: 11vh;
    }

    .divheader{
        width: 90vw;
        font-size: 3.5vw;
        text-align: center;
        height: 15vh;
    }

    .buttonlink{
        width: 80%;
        height: 6vh;
        font-size: 3.5vw;
    }

    .contacticons{
        margin-top: 6vw;
        width: 75%;
    }
    
    #icon1{
        height: 6.5vw; 
    }
    #icon2{
        height: 6.5vw; 
    }
    #icon3{
        height: 5.8vw; 
    }
    #icon5{
        height: 5.3vw; 
    }
    #icon4{
        height: 5.3vw; 
    }

    .linkicon{
        width: 7vw;
    }
}