@media only screen and (max-width: 600px) {
    
    .Divprincipal{
        background-image: url('../assets/MobileBG.jpg');
    }
    
    .profilepic5seis{
        width: 11vh;
    }

    .divheader{
        width: 90vw;
        font-size: 3.5vw;
        text-align: center;
        height: 15vh;
    }

    .buttonlink{
        width: 80%;
        height: 6vh;
        font-size: 3.5vw;
    }

    .contacticons{
        margin-top: 8vw;
        width: 75%;
        transform: scale(0.8);
    }
    
    /* #icon1{
        height: 32px;
        width: 32px; 
    }
    #icon2{
        height: 32px;
        width: 32px;
    }
    #icon3{
        height: 28px;
        width: 32px;
    }
    #icon5{
        height: 28px;
        width: 35px;
    }
    #icon4{
        height: 28px;
        width: 35px;
    } */

}